<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GLAZZES</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/contact.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  </head>
  <body>
    <!-- NAVIGATION -->
    <% include partials/navigation %>
    
    <!-- CONTACT FORM -->
    <div class="container">
      <div class="contact-form">
        <form class="" action="" method="post">
          <h2>Contact us</h2>
          <input type="email" name="email" value="" placeholder="Email" required autofocus>
          <input type="text" name="text" value="" placeholder="Name" required>
          <textarea name="message" rows="3" cols="80" placeholder="Message" required></textarea>
          <button type="submit" name="button">Send</button>
        </form>
        <div class="social-media">
          <ul>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></a></i></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></i></li>
            <li><a href="#"><i class="fab fa-facebook-f"></a></i></li>
            <!-- <li></li> -->
          </ul>
        </div>
      </div>

      <!-- FOOTER -->
      <footer>
        <h3>JuanRM | &copy; Copyright 2018</h3>
      </footer>
    </div>
  </body>
</html>
