<nav>
    <div class="logo">
      <a href="/"><h4>Glazzes</h4></a>
    </div>
    <input type="checkbox" name="menu" id="menu" value="">
    <label for="menu" class="nav-btn">
      <div class="menu-bars">
        <i></i>
        <i></i>
        <i></i>
      </div>
    </label>
    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/catalogue">Catalogue</a></li>
        <li class="buy-btn"><a href="#">Buy</a></li>
      </ul>
    </div>
  </nav>